doctype html
html
 head
  link( rel="stylesheet" href="/css/style.css" type="text/css")
  title= "Weather App"
  
  
 body
    h1= "Weather Data"
    form(method="POST")
     p Enter City
     input(type="text", name="name")
     p
     input(type="submit")

    p=error
    .centerdiv
        for item in message
            p
            .tempbox
             p= item.city
             strong temp: 
             em= item.temp
             em ° F
             br
             em= item.desc
             - var img = "http://openweathermap.org/img/w/"+item.icon+".png"
             img(src=img)
             
        else
            strong no cities added yet!
    
    