doctype html
html
 head
  link( rel="stylesheet" href="/css/style.css" type="text/css")
  title= "Weather App"
  
  
 body
    h1= "Weather Data"
    form(method="POST")
     p Enter City Name
     input(type="text", name="name")
     p
     input(type="submit")

    p=error
    .centerdiv
        for item in message
            p
            .tempbox
             .close
              a.delete(href="#",linkid=item.id ) X
             p= item.city
             strong temp: 
             em= item.temp
             em ° F
                br
                
                .icon= item.desc
                    - var img = "http://openweathermap.org/img/w/"+item.icon+".png"
                    img.top(src=img)
             
        else
            strong no cities added yet!
 footer
    p Copyright &copy; 2019   
script(src="https://code.jquery.com/jquery-1.9.1.min.js")
script(src='/js/main.js') 
    